/**
 * ArticleBlock Component Styles
 * 
 * Renders article heading and content using type-driven recursive rendering.
 */

.articleBlock {
  margin-bottom: var(--layout-margin-large);
  padding-bottom: var(--layout-padding-large);
  border-bottom: 1px solid var(--surface-color-border-default);
}

.articleHeading {
  font: var(--typography-bold-h4);
  color: var(--typography-color-primary);
  margin: 0 0 var(--layout-margin-medium) 0;
}

.articleContent {
  margin-left: var(--layout-margin-medium);
}
