/**
 * ArticleBlock Component Styles
 * 
 * Renders article heading and clauses.
 */

.articleBlock {
  margin-bottom: 24px;
}

.articleHeading {
  font-family: var(--typography-font-families-bc-sans);
  font-size: 18px;
  font-weight: var(--typography-font-weights-bold);
  color: #313132;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.3;
}

.clauses {
  display: flex;
  flex-direction: column;
}
