.clauseBlock {
  display: flex;
  align-items: flex-start;
  gap: 0;
  margin-bottom: var(--layout-margin-small);
}

.clauseNumber {
  display: inline-flex;
  flex-shrink: 0;
  font: var(--typography-regular-body);
  line-height: var(--typography-line-heights-sparse);
  color: var(--typography-color-primary);
  min-width: 2rem;
}

.clauseContent {
  flex: 1;
}

.clauseText {
  margin: 0 0 var(--layout-margin-small) 0;
  font: var(--typography-regular-body);
  color: var(--typography-color-primary);
  line-height: var(--typography-line-heights-sparse);
}

.clauseNestedContent {
  margin-left: var(--layout-margin-medium);
  margin-top: var(--layout-margin-small);
}
