/**
 * ClauseRenderer Component Styles
 * 
 * Renders numbered clauses with hierarchical indentation.
 */

.clauseList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--typography-font-families-bc-sans);
  font-size: 16px;
  line-height: 1.5;
  color: #313132;
}

.clauseItem {
  margin-bottom: 14px;
  display: list-item;
}

/* Indentation levels */
.clauseItem.level0 {
  padding-left: 32px;
  list-style-type: decimal;
}

.clauseItem.level1 {
  padding-left: 56px;
  list-style-type: lower-alpha;
}

.clauseItem.level2 {
  padding-left: 80px;
  list-style-type: lower-roman;
}

.clauseItem.level3 {
  padding-left: 104px;
  list-style-type: upper-alpha;
}

.clauseNumber {
  font-weight: var(--typography-font-weights-bold);
  margin-right: 0.25rem;
}

.clauseContent {
  font-weight: var(--typography-font-weights-regular);
  display: inline;
}

.subClauses {
  margin-top: 8px;
}
