/**
 * ClauseRenderer Component Styles
 * 
 * Renders numbered clauses with hierarchical indentation.
 */

.clause-renderer {
  display: flex;
  flex-direction: column;
  font-family: var(--typography-font-families-bc-sans, 'BC Sans', sans-serif);
  font-size: var(--typography-font-size-body, 1rem);
  line-height: var(--typography-line-heights-normal, 1.5);
  color: var(--typography-color-primary, #313132);
}

.clause-renderer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clause-renderer__item {
  display: flex;
  margin-bottom: var(--layout-margin-medium, 1rem);
}

/* Indentation levels */
.clause-renderer__item--level-0 {
  padding-left: 32px;
}

.clause-renderer__item--level-1 {
  padding-left: 56px;
}

.clause-renderer__item--level-2 {
  padding-left: 80px;
}

.clause-renderer__item--level-3 {
  padding-left: 104px;
}

.clause-renderer__number {
  font-weight: var(--typography-font-weights-bold, 700);
  margin-right: var(--layout-margin-small, 0.5rem);
  flex-shrink: 0;
}

.clause-renderer__content {
  flex: 1;
}

.clause-renderer__subclauses {
  margin-top: var(--layout-margin-small, 0.5rem);
}
