.sectionTitle {
  font-family: var(--typography-font-families-bc-sans, 'BC Sans', sans-serif);
  font-size: 18px;
  font-weight: var(--typography-font-weights-bold);
  color: #313132;
  margin: 0;
  margin-bottom: 16px;
  line-height: 30.608px;
}
