.sectionTitle {
  font-family: var(--typography-font-families-bc-sans);
  font-size: 24px;
  font-weight: var(--typography-font-weights-bold);
  color: #313132;
  margin: 0;
  margin-bottom: 24px;
  line-height: 1.3;
}
