/**
 * SubsectionBlock Component Styles
 * 
 * Renders subsection heading and child articles.
 */

.subsectionBlock {
  margin-bottom: 32px;
}

.subsectionHeading {
  font-family: var(--typography-font-families-bc-sans);
  font-size: 20px;
  font-weight: var(--typography-font-weights-bold);
  color: #313132;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.3;
}

.articles {
  display: flex;
  flex-direction: column;
}
