/**
 * SubsectionBlock Component Styles
 * 
 * Renders subsection heading and child articles.
 */

.subsectionBlock {
  margin-bottom: 32px;
}

.subsectionHeading {
  font-family: var(--typography-font-families-bc-sans, 'BC Sans', sans-serif);
  font-size: 20px;
  font-weight: var(--typography-font-weights-bold, 700);
  color: #313132;
  margin: 0;
  margin-bottom: 12px;
  line-height: 34px;
}

.articles {
  display: flex;
  flex-direction: column;
}
