# Image Configuration
# Specify the file extension for images referenced in the BC Building Code JSON
# The JSON contains extension-less image paths (e.g., "bc-graphics/figure-a-1-1-1-1-6-of-division-a")
# This variable determines which extension to append at runtime

# Default: .jpg
NEXT_PUBLIC_IMAGE_EXTENSION=.jpg

# Other options:
# NEXT_PUBLIC_IMAGE_EXTENSION=.png
# NEXT_PUBLIC_IMAGE_EXTENSION=.eps
# NEXT_PUBLIC_IMAGE_EXTENSION=.webp
