/* modal close button */
.ui-ButtonModalClose.--icon {
  height: 48px;
  width: 48px;
  min-width: 48px;
  padding: 0;
  background-color: transparent;
  color: #292929;
  border: none;
  position: fixed;
  right: var(--layout-padding-medium);
  top: var(--layout-padding-small);
}

.ui-ButtonModalClose__icon {
  height: 48px;
  width: 48px;
}
